<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TanulokMVC</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/w3.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    
    @* Font Awesome *@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">


</head>
<body>
        <nav class="w3-sidebar w3-green w3-collapse w3-top w3-large w3-padding"
             style="z-index:3;width:300px;font-weight:bold;" id="mySidebar">
            <br>
            <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
               style="width:100%;font-size:22px">Bezár</a>
            <div class="w3-container">
                <h3 class="w3-padding-64"><b>TanulókMVC</b></h3>
            </div>
            <div class="w3-bar-block">
                <a onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" asp-area="" asp-controller="Osztaly" asp-action="OsztalyokTanulokkalLista">Főoldal</a>
                <a onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" asp-area="" asp-controller="Osztaly" asp-action="Index">Osztályok</a>
            </div>
        </nav>

        <!-- Top menu on small screens -->
        <header class="w3-container w3-top w3-hide-large w3-green w3-xlarge w3-padding">
            <a href="javascript:void(0)" class="w3-button w3-green w3-margin-right" onclick="w3_open()">☰</a>
            <span>TanulókMVC</span>
        </header>


        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
             id="myOverlay"></div>


    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        @RenderBody()

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
