USE [TanulokMVC]
GO
/****** Object:  Table [dbo].[Osztalyok]    Script Date: 2021. 02. 13. 12:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Osztalyok](
	[OsztalyId] [int] IDENTITY(1,1) NOT NULL,
	[OsztalyNev] [nchar](10) NOT NULL,
	[OsztalyFonok] [nvarchar](50) NOT NULL,
	[Tanterem] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OsztalyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Osztalyzatok]    Script Date: 2021. 02. 13. 12:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Osztalyzatok](
	[OsztalyzatID] [int] IDENTITY(1,1) NOT NULL,
	[TanuloID] [int] NOT NULL,
	[Tantargy] [int] NOT NULL,
	[OsztalyzatTipus] [int] NOT NULL,
	[Osztalyzat] [tinyint] NOT NULL,
	[Megnevezes] [nvarchar](100) NOT NULL,
	[Megjegyzes] [nvarchar](300) NOT NULL,
	[Sulyozott] [bit] NOT NULL,
	[Datum] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OsztalyzatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tanulok]    Script Date: 2021. 02. 13. 12:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tanulok](
	[TanuloID] [int] IDENTITY(1,1) NOT NULL,
	[OsztalyId] [int] NOT NULL,
	[VezetekNev] [nvarchar](50) NOT NULL,
	[KeresztNev] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TanuloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Osztalyok] ON 

INSERT [dbo].[Osztalyok] ([OsztalyId], [OsztalyNev], [OsztalyFonok], [Tanterem]) VALUES (1, N'9A        ', N'Stace Oades', N'106')
INSERT [dbo].[Osztalyok] ([OsztalyId], [OsztalyNev], [OsztalyFonok], [Tanterem]) VALUES (2, N'9E        ', N'Arluene Davidovicz', N'174')
INSERT [dbo].[Osztalyok] ([OsztalyId], [OsztalyNev], [OsztalyFonok], [Tanterem]) VALUES (3, N'10A       ', N'Nickey Markl', N'229')
SET IDENTITY_INSERT [dbo].[Osztalyok] OFF
GO
SET IDENTITY_INSERT [dbo].[Osztalyzatok] ON 

INSERT [dbo].[Osztalyzatok] ([OsztalyzatID], [TanuloID], [Tantargy], [OsztalyzatTipus], [Osztalyzat], [Megnevezes], [Megjegyzes], [Sulyozott], [Datum]) VALUES (1, 23, 3, 2, 3, N'Nulla nisl.', N'Nullam sit amet turpis elementum ligula vehicula consequat.', 1, CAST(N'2020-11-29' AS Date))
INSERT [dbo].[Osztalyzatok] ([OsztalyzatID], [TanuloID], [Tantargy], [OsztalyzatTipus], [Osztalyzat], [Megnevezes], [Megjegyzes], [Sulyozott], [Datum]) VALUES (2, 83, 3, 2, 2, N'Integer ac leo.', N'Nulla nisl. Nunc nisl.', 1, CAST(N'2021-01-02' AS Date))
INSERT [dbo].[Osztalyzatok] ([OsztalyzatID], [TanuloID], [Tantargy], [OsztalyzatTipus], [Osztalyzat], [Megnevezes], [Megjegyzes], [Sulyozott], [Datum]) VALUES (3, 29, 3, 2, 4, N'Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.', N'Vestibulum ac est lacinia nisi venenatis tristique.', 1, CAST(N'2020-11-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Osztalyzatok] OFF
GO
SET IDENTITY_INSERT [dbo].[Tanulok] ON 

INSERT [dbo].[Tanulok] ([TanuloID], [OsztalyId], [VezetekNev], [KeresztNev]) VALUES (1, 2, N'Ferdy', N'Bellchamber')
INSERT [dbo].[Tanulok] ([TanuloID], [OsztalyId], [VezetekNev], [KeresztNev]) VALUES (2, 2, N'Rem', N'Illes')
INSERT [dbo].[Tanulok] ([TanuloID], [OsztalyId], [VezetekNev], [KeresztNev]) VALUES (3, 5, N'Anthiathia', N'Davoren')
GO
SET IDENTITY_INSERT [dbo].[Tanulok] OFF
GO
